@media only screen and (max-width: 768px) {
    #top_header {
        height: 125px;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #top_header > a {
        margin-top: 20px;
    }

    #logo {
        margin: 0;
    }

    nav {
        height: min-content;
        width: 100%;
        margin: 0;
    }

    nav a {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 12px;
        /* transform: translateY(-10px); */
    }

    nav a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    #search_section {
        margin: 150px 30px 0 30px;
    }

    #search_section form {
        width: 100%;
    }

    #search_section button {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        transform: translateX(-8px);
    }

    #search_section button span {
        display: none;
    }

    #search_section button img {
        display: block;
    }

    main {
        padding: 0;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 40px;
    }
    
    #results, #most_popular {
        border-radius: unset;
        width: 100%;
    }

    #results {
        background-color: white;
        padding: 0;
    }

    #results header {
        margin: 0;
    }

    #results header h1 {
        margin: 0;
        padding-left: 30px;
    }

    .result_item {
        width: 100%;
    }

    #most_popular {
        padding: 0 0 40px 0;
        width: auto;
    }

    #most_popular header {
        width: auto;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #most_popular_content, #result_content {
        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;
    }

    .result_item {
        max-width: 100%;
    }

    #show_more {
        margin-left: 30px;
    }

    #activities_section {
        margin: 0 30px;
        gap: 20px;
    }

    #main_activities_wrapper, .activities_wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .activities_content {
        width: auto;
        max-height: 200px;
    }
    
    .first_part {
        width: auto;
        margin: 0;
        gap: 30px;
    }
    
    .second_part {
        width: auto;
        transform: translateX(0);
        margin: 0;
        gap: 30px;
        flex-wrap: wrap;
    }

    .activities_wrapper:last-of-type {
        flex-direction: column;
    }

    #footer_flex {
        flex-direction: column;
    }

}