/* Footer */

footer {
    width: 100%;
    padding: 40px 0;
    font-weight: 600;
    background-color: var(--background-color);
}

#footer_flex {
    width: 75%;
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
}

#footer_flex a {
    color: black;
    text-decoration: none;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 20px;
}

footer ul li:hover {
    text-decoration: underline;
}