/* Header */

header {
    width: 100%;
    padding: 2px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#top_header {
    width: auto;
    height: 90px;
    padding-bottom: 10px;
    position: sticky;
    left: 0;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 9px -4px #000000;
    z-index: 12;
}

#top_header > a {
    width: fit-content;
    height: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

#logo {
    height: 100%;
    object-fit: cover;
    margin-left: 20px;
}

nav {
    width: 225px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
}